## <CODE>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head><title>Hei, eruby!</title></head>
  <body>
    <!-- utskrift i kode settes inn i HTML-dokumentet. -->
    <% puts "Hei, eruby!" %>

    <!-- Med = tegnet kan man også sette inn variabler direkte. -->
    <% dato = Time.now %>
    <%= dato %>       

    <!-- Også har man kommentarer -->
    <%# puts "Denne koden kjøres ikke." %>            
  </body>
</html>
## </CODE>